$green: #4fb96f;

#page{
	width: 100%;
}

.container{
	height: auto;
	width: 1170px;
	margin: auto;
}

header.header-top{
	height: 232px;
	background-color: #4fb96f;
}

nav.nav-top{
	height: 71px;
	background-color: #fff;
	border-top: solid 6px #4fb96f;
	.logo{
		width: 200px;
		height: 71px;
		line-height: 71px;
		float: left;
		margin-left: 68px;
		img{
			margin-top: 8px;
			height: 45px;
			width: 180px;
			&:hover{ @include opacity(0.7); }
		}
	}
	.nav{
		float: right;
		height: 71px;
		.menu-navigation-container{ float: left; }
		.search{
			height: 71px;
			width: 50px;
			line-height: 71px;
			float: left;
			padding-top: 5px;
			margin-left: 25px;
			i{ font-size: 30px; color: $green; }
		}
	}
	ul.menu{
		height: 71px;
		line-height: 71px;
		li{
			display: inline-block;
			padding-left: 15px;
			padding-left: 15px;
			&.current-menu-item{
				a{
					box-sizing: border-box;
					padding-bottom: 5px;
					border-bottom: solid 3px $green;
				}
			}
		}
		a{
			text-decoration: none;
			text-transform: uppercase;
			color: #000;
			font-family: Lato;
			font-weight: bold;
			font-size: 20px;
			&:hover{
				box-sizing: border-box;
				padding-bottom: 5px;
				border-bottom: solid 3px $green;
			}
		}
	}
}

.list-realisation{
	width: 1014px;
	min-height: 500px;
	margin: auto;
	.block-realisation{
		float: left;
		width: 294px;
		height: 195px;
		margin: 46px 22px 0 22px;
		a{ text-decoration: none; }
		img{
			width: 294px;
			height: 195px;
			&:hover{

			}
		}
	}
}

.footer-bottom{
	width: 100%;
	height: 300px;
	background-color: #f2f0f1;
}