@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$lato: 'Lato', sans-serif;

.single-project{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color:#494949;
	background-color:#fafafa;
	height:480px;
	width:1170px;
	padding-top:35px;
	border:2px solid #e6e6e6;
	font-family: $lato;
	font-weight: 400;
	font-size:15px;

	.blocks{

	}


	.block-top{
		margin-bottom:5px;
		display:block;
		vertical-align: text-top;

		.title-project{
			font-size:28px;
			text-transform:uppercase;
			font-family: $lato;
			font-weight: 700;
			display:inline-block;
			vertical-align: text-top;
			margin:0;
			margin-left:34px;
		}

		.level{
			font-size:16px;
			text-transform:uppercase;
			font-family:$lato;
			font-weight:700;
			display:inline-block;
			vertical-align:text-top;
			margin-left:15px;
			padding-top:3px;
		}

	}

	.block-left{
		width:585px;
		float:left;
		margin:0;
		padding:0;

		img{
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		}

	}

	.block-right{
		float:left;
		width:530px;
		margin:0;
		padding-left:5px;
		padding-right:50px;

		.date{
		}

		.url{
			display:inline-block;
			font-weight:700;
			font-size:18px;
			margin-top:20px;
		}

		.client{
			display:inline-block;
			font-weight:700;
			font-size:18px;
			margin-top:20px;
			margin-left:60px;
		}

		.description{
			font-size:15px;
			margin-top:20px;
		}

		.createur{
			font-weight:700;
			margin-top:20px;
		}

		.technologie{
			font-weight:700;
			margin-top:25px;
		}

		.categorie{
			font-weight:700;
			margin-top:25px;
		}
	}

	a{
		text-decoration:none;
		color:#494949;
	}


}

.single-others{
	display: block;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	height:550px;
	width:1170px;
	color:#494949;
	font-family: $lato;
	font-weight: 400;
	font-size:14px;

	h1{
		margin-left:34px;
		font-weight:700;
		font-size:22px;
	}

}